body{
    text-align: center;
    /* background-color: rgb(52, 188, 252); */
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00dbde, #fc00ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 
  }
  img:hover {
    width: 300px;
  }
  img{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 300px;
    width: 600px;
    border-radius: 20%;
    box-shadow: 10px 10px black;
    transition: width 2s;
    
  }
  h1{
    text-shadow: 2px 2px white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  h2{
    text-shadow: 2px 2px white;
    font-family: Arial, Helvetica, sans-serif;
  }